---
import Hero from '~/components/widgets/Hero.astro';
---

<section class="bg-[#d03959] dark:bg-slate-800 pb-10">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 text-md font-medium">
    <h2 class="font-medium text-6xl text-white py-10">Over 20 years of experience</h2>
    <span class="text-white">
      As accountants with over twenty years of experience, we’ve helped thousands of individuals with their financial
      affairs. Whether you’re new to accounting or thinking of switching, we have the knowledge and solutions to suit
      your needs.</span
    >
  </div>
</section>
