---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Notee from '~/components/widgets/Note2.astro';

import Features from '~/components/widgets/Features.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      <h1 class="text-5xl text-[#1c2557] font-bold pb-5">QAccounting</h1>
      <h1 class="text-6xl text-[#1c2557] font-medium">Your online accountant</h1>
      <h1 class="text-6xl text-[#1c2557] font-medium">for one low monthly fee</h1>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <div class="flex justify-center pb-4">
    <iframe
      width="700"
      height="500"
      src="https://www.youtube.com/embed/nhsdJ5k-fxg"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>

  <Note />

  <!-- Features Widget *************** -->

  <Features
    title="Why Choose Us?"
    items={[
      [
        {
          title: 'Experienced',
          description:
            'This isn’t our first rodeo! Here at QAccounting we have been offering accounting services to businesses up and down the country for over twenty years. Our team of accountants has vast experience and expertise and is on hand to help all of our customers every working day.',
          icon: 'tabler:components',
        },
        {
          title: 'Trusted',
          description:
            'We believe that your relationship with your accountant should be based on trust. We feel that our trust with our customers is reflected in the hundreds of five star reviews left by our happy clients. We’re rated 92% on Reviews.co.uk and strive to offer the best service possible.',
          icon: 'tabler:components',
        },
        {
          title: 'Transparents',
          description:
            'We’ve developed state-of-the-art technology giving our customers visibility and control of their business’ accounts and finances. We also cater to external bookkeeping software such as Xero meaning that we will meet your bookkeeping and software needs.',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Recognised',
          description:
            'Joining QAccounting means that you are joining one of the industry’s leading online accountants, offering recognised, award-winning accounting services to businesses large and small. Our reputation has been well earned over our many years trading.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Tailored',
          description:
            'We offer tailored accouting solutions for you and your business. That’s right! We offer packages you can custom build to suit your needs, making your monthly accounting service cost-effective in that you only pay for the services and products you need.',
          icon: 'tabler:arrows-right-left',
        },
        {
          title: 'Compliant',
          description:
            'In the world of accounting, making sure information is accurate and taxes are submitted on time is the difference between a good accountant and a bad one. We offer a range of industry-leading compliant solutions giving you complete peace of mind when it comes to your taxes.',
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />

  <div class="flex justify-between items-center p-6 rounded-lg max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex-1">
      <h2 class="text-3xl font-semibold mb-2 text-[#1c2557]">Accounting Made Easy</h2>
      <p class="text-gray-700 text-base mb-4">
        We think that although accounting is very important, it should be kept simple. We have been supporting
        businesses for decades and have perfected our accounting services to make the lives of our customers easier, and
        their headspaces calmer. We use easy to understand language, and our accountants very much hold our client’s
        hands, especially to begin with! If you have any accounting worries or tax woes then let us take care of the
        hard part for you so you have more time to concentrate on your business.
      </p>
      <div class="flex justify-start">
        <button class="bg-[#d03959] hover:bg-pink-500 hover:text-white text-white py-2 px-4 rounded-full">
          Our Services</button
        >
      </div>
    </div>
    <img
      src="https://www.qaccounting.com/wp-content/uploads/2021/11/image-2-480x391.png"
      alt="Placeholder"
      class="rounded-lg"
    />
  </div>

  <div class="flex justify-between items-center p-6 rounded-lg max-w-7xl mx-auto px-4 sm:px-">
    <img
      src="https://www.qaccounting.com/wp-content/uploads/2021/11/image-10-480x406.png"
      alt="Placeholder"
      class="rounded-lg mr-6"
    />
    <div class="flex-1">
      <h2 class="text-3xl font-semibold mb-2 text-[#1c2557]">Dedicated accountant</h2>
      <p class="text-gray-700 text-base mb-4">
        One of the most frequently asked questions we hear at QAccounting is ‘Do I get to speak to an accountant?’ Well,
        the answer to that questions is yes! And we even offer one better than that! We provide all our customers with a
        dedicated accountant who will get to know you and most importantly your business very well throoughout your time
        with us. Having a dedicated online accounting resource means that you will always deal with the same person when
        you speak to us, and you’ll get intimate, personal support for when you and your business need it most.
      </p>
      <div class="flex justify-end pr-10 space-x-1.5">
        <button class="bg-[#d03959] hover:bg-pink-500 hover:text-white text-white py-2 px-4 rounded-full">
          About Us</button
        >
        <button class="border-2 border-[#d03959] hover:bg-pink-500 text-[#d03959] py-2 px-4 rounded-full">
          how We Work</button
        >
      </div>
    </div>
  </div>

  <div class="flex justify-between items-center p-6 rounded-lg max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex-1">
      <h2 class="text-3xl font-semibold mb-2 text-[#1c2557]">Want to switch to affordable accounting?</h2>
      <p class="text-gray-700 text-base mb-4">
        If you want to switch to QAccounting, then we will manage the entire switching process for you. Simply sit back
        and relax and our switching team will liaise with your current provider and get your accounts transferred across
        to us simply and seamlessley. If you’re still on the fence and need some extra convincing then we suggest that
        you take a few minutes to complete our short quote form, and see how much you could save by switching to
        QAccounting.
      </p>
      <div class="flex justify-start space-x-1.5">
        <button class="bg-[#d03959] hover:bg-pink-500 hover:text-white text-white py-2 px-4 rounded-full">
          About Us</button
        >
        <button class="border-2 border-[#d03959] hover:bg-pink-500 text-[#d03959] py-2 px-4 rounded-full">
          how We Work</button
        >
      </div>
    </div>
    <img
      src="https://www.qaccounting.com/wp-content/uploads/2021/11/image-5-480x406.png"
      alt="Placeholder"
      class="rounded-lg pl-5"
    />
  </div>
  <Notee />

  <!-- Content Widget **************** -->

  <!-- <Content
    title="We're Here to Help"
    subtitle="As accountants with over twenty years of experience, we’ve helped thousands of individuals with their financial affairs. Whether you’re new to accounting or thinking of switching, we have the knowledge and solutions to suit your needs."
  /> -->
  <div class="bg-[#eef6fe]">
    <div class="text-center p-10">
      <h1 class="text-4xl font-bold mb-4 text-[#1c2557]">We're Here to Help</h1>

      <p class="text-[#212529] text-base mb-4">
        As accountants with over twenty years of experience, we’ve helped thousands of individuals with their financial
        affairs. Whether you’re new to accounting or thinking of switching, we have the knowledge and solutions to suit
        your needs.
      </p>
    </div>

    <div class="flex justify-between items-center px-72 p-6 rounded-lg">
      <img
        src="https://www.qaccounting.com/wp-content/uploads/2021/11/image-15-640x515.png"
        alt="Placeholder"
        class="rounded-lg mr-6 h-96 w-96"
      />
      <div class="flex-col">
        <button class="border-2 border-[#1c2557] text-1xl text-[#1c2557] font-semibold py-2 px-16 rounded-full">
          Questions ?</button
        >
        <p class="text-base mb-4 text-center text-[#1c2557]">Chat with a member of our team <br />right now!</p>
        <button class="border-2 border-[#1c2557] text-[#1c2557] text-1xl font-semibold py-2 px-16 rounded-full">
          Speak To Us</button
        >
        <p class="text-base mb-4 text-center text-[#1c2557]">Give us a call today!</p>
        <button
          class="border-2 bg-[#d03959] border-[#d03959] hover:bg-pink-500 text-1xl text-white font-semibold py-2 px-16 rounded-full"
        >
          Get A Quote</button
        >
        <p class="text-base mb-4 text-center text-[#1c2557]">Get a quick quote immediately!</p>
      </div>
    </div>
  </div>
</Layout>
